extends templates/default
 
block content
    h1=oficios
    div(class='row')
        .col-md-6.offset-md-3
            if message.length > 0
                div(class='alert alert-success' role='alert')=message
            .panel.panel-default
                .panel-heading
                .panel-body
                    form(action='http://localhost:3000/oficios/upload' method='post' autocomplete='off' encType="multipart/form-data")
                        input(type='file' name='filename')                        
                        button(type="submit" class='btn btn-default')= 'subir'